body{  
  font-family: Calibri, Helvetica, sans-serif;  
  background-color: pink; 
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQi3DiB4Xg_el4gbpQXlo10kuRbuMTvVWrZ3g&usqp=CAU); 
}  